<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
       th:replace="BankMitraServices/BankMitraHome::Layout(~{::section})">
<head>
	<meta charset="UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
	<title th:text="${title}"></title>
</head>
<body>
  
  <section>
     <div class="newAccount_main_container">
        <form action="#"  th:action="@{/createAccount/bankmitra}"  method="post" enctype="multipart/form-data" >
             <div class="addProduct_container">
                    <div class="addProduct_container_left add_item_detail_card">
                         <h1>Fill Your Details</h1>
                         <div  th:if="${session.alert}" class="alert accountAlert" th:classappend="${session.alert.type}"  role="alert">          
                          <p>[[${session.alert.message}]]</p>
                        </div>
                         <div class="detail_line">
                            <span class="input-group-text" id="inputGroup-sizing-default">Customer Name</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"   aria-describedby="inputGroup-sizing-default"    minlength="3" maxlength="20"   
                             name="name"
                            >                     
                         </div>
                         <div class="detail_line">
                           <div class="col-6 d-flex">
                            <span class="input-group-text" id="inputGroup-sizing-default">Father's Name</span>
                            <span class="input-group-text">Shri</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="cFathername"   minlength="3" maxlength="20"      > 
                           </div>
                           <div class="col-6 d-flex">
                            <span class="input-group-text" id="inputGroup-sizing-default">Mother's Name</span>
                            <span class="input-group-text">Smt. </span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="cMothername"   minlength="3" maxlength="20"   > 
                           </div>                         
                       </div>
    
                       <div class="detail_line">
                        <span class="input-group-text" id="inputGroup-sizing-default">Email Id</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  name="cEmail" required   >                     
                     </div>
          

                     <div class="detail_line">
                      <div class="col-6 d-flex">
                        <span class="input-group-text" id="inputGroup-sizing-default">Phone No.</span>
                      <input type="text" class="form-control" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-default"  name="cPhone"  required  minlength="10" maxlength="10"   >  
                    
                      </div>
                      <div class="col-6 d-flex">
                       <span class="input-group-text" id="inputGroup-sizing-default">Aadhar No. </span>
                       <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="cAadhar"  minlength="12" maxlength="12"   > 
                      </div>                         
                  </div>
    
                     <div class="detail_line">
                      <span class="input-group-text" id="inputGroup-sizing-default">Nominee Name </span>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="cNomineename"  minlength="3" maxlength="20"   >                     
                     </div>
    
                     <div class="detail_line">
                      <div class="col-6 d-flex">
                       <span class="input-group-text" id="inputGroup-sizing-default">Password </span>
                       <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  name="cpassword"   minlength="8" maxlength="15"   >
                       <span class="input-group-text"><ion-icon name="eye-off-outline"></ion-icon> </span> 
                      </div>
                      <div class="col-6 d-flex">
                       <span class="input-group-text" id="inputGroup-sizing-default">Confirm Password </span>
                       <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="confiemPassword"  minlength="3" maxlength="20"   > 
                       <span class="input-group-text"> <ion-icon name="eye-off-outline"></ion-icon></span>
                      </div>                         
                  </div>
    
                     <div class="detail_line">
                  
                      <button class="btn btn-primary  " type="submit">Register</button>                    
                     </div>
                   
                    </div>

                    <div class="addProduct_container_right add_item_detail_card">
                        <div class="add_image_div">
                          <ion-icon name="image-outline"></ion-icon>
                        </div>
                        <div class="chooseImage_btn">
                          <label for="formFileDisabled"> Choose File
                              <input class="form-control" type="file" id="formFileDisabled" name="filename">
                        </label>
                        </div>
                    </div>
    
            </div>
        </form>
           

      </div>
  </section>

</body>
</html>

