@media(max-width:1024px){
  .openYourAc{
    flex-direction: row;
    display: flex;
    margin-top: 2vw;
  }

  .openYourAc h1{
    font-size: 6vw;

  }
  .openYourAc h2{
    font-size: 6vw;
    margin-left: 2vw;
  }

}


@media(max-width:768px){
     

  .loginCard{
    height: 50vw;
    width: 40vw;
    top: 40%;
    left: 30vw;
    z-index: 20;
  }
  .loginCard h1{
    font-size: 5vw;
    font-weight: 700;
    margin-top: 1vw;
  }
  .loginCard input{
    margin-top: 4vw;
    font-size: 2.5vw;
    height:5vw;
    padding-left: 0.5vw;
  }
  .loginCard p{
    margin-top: 1vw;
    font-size: 2.5vw;
  }

  .loginCard button{

    height: 5vw;
    margin-bottom: 0.5vw;
    font-size: 2.5vw;
    font-weight: 600;
    border: 0.2vw solid white;
  }
  
  
.mesContaLeft{
	height:50vw;
}

.messageDiv{
	height:40vw;
	width:90%;
}

.messageDiv h1,.messageDiv h3{
	margin-top:2.5vw;
	font-size:2.5vw;
}

.messageDiv h4{
	padding:1vw 1.5vw;
	margin-top:2vw;
	font-size:2.2vw;
}

#NoteAlert{
	font-size:1.2vw;
}


}



@media(max-width:575px){
  .footerDiv1,.footerDiv2{
    width: 50%;
    padding-left: 12vw;
  }
  .footerDiv1 h1,.footerDiv2 h1{
    color:#FABC3F;
    font-size: 3.5vw;
    margin-left: 1vw;
  }
  .footerDiv1 ul , .footerDiv2 ul{
    line-height: 3.5vw;
    font-size: 1.8vw;
  }
  .footerDiv3 h1{
    font-size: 6vw;
 }
 .footerDiv3 input{
   width: 80%;
   height: 10vw;
   padding-left: 2vw;
   margin-top: 0.5vw;
   border-radius: 10vw;
   border: none;
 }

 .connectWithUs h1{
   font-size: 8vw;
   color: #CD5C08;
 }
 
 .connectWithUs ul li img{
   width: 5vw;
   height: 5vw;

 }

 
.serviceLeft{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1vw;
  height: fit-content;
  border-bottom-right-radius: 0px;
  padding: 1vw;
}

.service1Right{
  display: none;
}
.digitalBan h1{
  font-size: 12vw;
  margin-left: 1vw;
}

.digitalBan span{
  font-size: 12vw;
  margin-left: 2vw;
}


.DigiBanki_out{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2vw;
  width: 80%;
  padding-bottom: 5vw;
}

.DigiBanki_in{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2vw;
}

.DigiBankiItems{
  width: 30vw;
  height: 6vw;
  padding-left: 2vw;
  font-size: 3vw;
  margin-top: 8vw;
}

.iButtonDiv{
  width: 5vw;
  height: 5vw;
}

.iButtonDiv i {
  font-size: 3vw;
}
.featureCard{
  width: 25vw;
  height: 30vw;
  margin:0.2vw;
  margin-left: 5vw;

}

.featureCardImgDiv{
  height: 20vw;
  width: 20vw;
  margin-bottom: 5vw
}

.featureCard button{
  width:100%;
  height: 5vw;
  font-size: 2vw;
}

  
.messageContainer{
	display:flex;
	flex-direction:column;
	width:100%;
}

.mesContaLeft{
	display:flex;
	justify-content:center;
	align-items:center;
	height:80vw;
}

.mesContaLeft img{
	width:36.5vw;
	height:53vw;
	object-fit:cover;
	position:center;
}
.mesContaERight{
	display:flex;
	justify-content:center;
	align-items:start;
	height:90vw;
	padding-top:5vw;
}

.messageDiv{
	height:80vw;
	width:100%;
	position:relative;
	padding-bottom:10vw;
}

.HeadingDiv{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.HeadingDiv p{
	font-size:6vw;
	font-family:700;
}
.messageDiv h1,.messageDiv h3{
	margin-top:4vw;
	font-size:6vw;
}


.messageDiv h4{
	padding:1vw 3vw;
	margin-top:3vw;
	font-size:3.5vw;
	box-shadow:0vw 0.3vw 0.5vw black;
	border-radius:30px;
}

#NoteAlert{
	margin-top:2vw;
	color:black;
	font-size:3vw;
}



}

/* max width 400px ............................................................................................... */


@media(max-width:400px){

  .header{
    height: 15vw;
  }
  .logoDiv{
    font-size: 5vw;
    padding:1vw  4vw;
  }
  .listOpener{
    display: flex;
    padding: 5px;
  }

   .TaglineDIV{
     top: 30%;
  } 
  .TaglineDIV h1{
    font-size: 10vw;
    white-space: nowrap;
  } 
  .TaglineDIV button{
    font-size: 4vw;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    padding: 3vw  5vw;
  }  
  .TaglineDIV h2{
    font-size: 10vw;
  }


  .col1right{
    display: none;
  }
  .navList{
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: start;
     position: fixed;
     top: 55px;
     right: -100%;
     width: 80vw;
     background-color: rgba(255, 255, 255, 0.215);
     backdrop-filter: blur(10px);
     min-height: 100vh;
     padding: 15px;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     border-left: 2px solid rgb(255,255,255);
     transition: all 1s;
  }


  .navList ul{
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    gap: 40px;
    align-items: start;
    margin-top: 25px;
  }
  .navList ul li{
    font-size: 6vw;
  }
  .navList ul li a{
    color: rgb(255,255,255);
   font-weight: 500;

  }
  
  .userImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 30px;
    margin-left: 25px;
    margin-top: 5vw;
  }
  .profileImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
  }
  
  .profileImg i{
    font-size:15vw;
    color: rgb(255,255,255);
    text-shadow: 0 0 10px rgb(0,0,0);
  }

   .logoutListItem {
      display: block;
      margin-left: 15px;
      background-color:transparent;
      border: 2px solid rgb(255,255,255);
      margin-top: 20px;
      font-size: 8vw;
      font-weight: 700;
      color: rgb(255,255,255);
      box-shadow: 0 0 10px rgb(0,0,0);
      text-shadow: 0 0 10px rgb(0,0,0);
      padding: 0 50px;
   }

  .screenSlider{
    height:45vh;
    border-radius:none;
    box-shadow: none;
    margin-top: 10vw;
  }
  
  .screenSlider img{
    border-radius:none;
  }
  

  .dotDivContainer{
    display: none;
  }
  
  .dotContainer{
    display: none;
  }


  .ServiceDivLogo{
    display: none;
  }
 
  .servicess{
    height: fit-content;
  }

  .servicesFeaturee{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2 , 2fr);
    height: fit-content;
  }

  .serviceFeatureCardd{
    height:70vw;
    width:48vw;
    margin:2vw 1vw;
  }

  
  .serviceFeatureCardd:hover{
    scale:none;
    transform:none;
  }
  

  .srvsFddetailss{
    padding-top:1vw;
    padding:0.2vw;
  }
  
  .srvsFddetailss h1{
    margin-top: 5vw;
    font-size:5vw;
    color:rgb(11, 125, 224);
  }
  
  .srvsFddetailss a{
    width: 100%;
  }
  .srvsFddetailss button{
    font-size:4vw;
    width: 100%;
    height: fit-content;
    color:rgb(11, 125, 224);
  }
  

  .homepageSection2{
    height:fit-content;
    flex-direction: column;
    justify-content:center;
    align-items:center;	
  }
  
  .openAccountOuterDiv{
    height:25vw;
    width:100%;
    margin:3vw;
    padding:2vw;
    padding-right:2;
  }

  .openAccountOuterDiv h1{
    font-size:6vw;
  }
  

  
  .balAndStatement{
    display:grid;
    grid-template-columns: repeat(2 , 1fr);
    width:100%;
    height:fit-content;
    gap: 5px;
  }
  
  .balanceCard , .statementCard{
    height:48vw;
    width:48vw;
  }
  
  
  .balanceCard img , .statementCard img{
    width:100%;
  }
  
  .balanceCard h3 , .statementCard h3{
    font-size:5vw;
  }
  


  .bookingsAndInsurenceOuter{
    flex-direction: column;
    height:fit-content;
    padding: 2vw;
    gap: 15px;
  }
  
  .bookingsAndInsurenceInner{
    flex-direction: column;
    width:100%;
    height:fit-content;
    gap: 15px;
  }
  
  .bookingdiv, .insurenceDiv{
    width: 100%;
    padding: 2vw;
    border: none;
  }


  .bookingdiv h1{
     font-size:8vw;
     margin: 2vw 0;
  }

  
  .ticketBookingContentDiv{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    height:fit-content; 
    width:100%; 
    margin-top:0.5vw;
    gap: 15px;
  }

  .loansArenaDiv h1{
    font-size: 9vw;
  }
  
  .loansArenaDiv h1:hover{
    transform: scale(1);

  }
  
  .ticketBookingFirstRow, .ticketBookingSecondRow{
      flex-direction: column;
      height:fit-content;
      width:100%;
      gap: 15px;
  }
  
  .ticketBookingFirstRow a, .ticketBookingSecondRow a{
    width: 100%;
  }
  
  .loanCard{
    height:45vw;
    width:100%;
    padding: 2vw;
  }
  
  .loanCard:hover{
    transform:scale(1);
  }

  .loanCard h6{
    font-size:5vw;
    text-align: center;
  
  }
  .loancardImgDiv{
    width:30vw;
    height:30vw;
  }

  
  .premiumServicesOuter , .money_transfer_div{
    height:fit-content;
    padding:0 2vw;
  }

  .money_transfer_div{
    height: fit-content;
  }

  .money_transfer_div a{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
  }

  
  
  .premiumServicesInner, .money_transfer_div_inner{
    width: 100%;
  }
  
  .premiumServicesInnermost{
    height:100%;
    width:100%;
  }
  
  .money_transfer_div_innermost{
    font-size: 10vw;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 30vw;
    color: rgb(23,141,241);
  }
  
  .premiumServicesInnermost{
    flex-direction: column;
    height: fit-content;
    border: none;
    }

.viewYourdashboard{
	width:100%;
  border:1px solid rgb(23,144,241);
  margin: 0;
  padding: 2vw;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(23,141,241), -1px -1px 5px rgb(23,141,241);
  margin-top: 2vw;
}

.viewYourDashHeading{
	height:fit-content;
	font-size:6vw;

}

.premiumServicesInner{
  border: none;
  box-shadow: none;
}

.preiumCardsDiv{
	display:grid;
  grid-template-columns: repeat(2,1fr);
	width:100%;
  gap: 15px;
  margin-top: 5vw;
}

.preiumCardsDiv a{
  width: 100%;
}


.premiumCard{
	border:1px solid rgb(23,141,241);
	height:45vw;
	width:100%;
}

.premiumCard:hover{
	transform:scale(1);
}


.premiumCardMain h5{
	font-size:5vw;
  text-align: center
}


.locationDiv{
  display: none
}




.mainfooter{
  flex-direction: column;
	justify-content:center;
  align-items: center;
	width:100%;
}

.leftpart,.rightPart{
  display: flex;
	width:100%;
  flex-direction: column;
	justify-content:center;
  align-items: center;
  padding: 2vw;
}
.leftpart h1, .rightPart h1{
	font-size:7vw;
  margin-top: 5vw;
}
.leftpart ul, .rightPart ul{
  text-align: center;
	line-height:8vw;
  font-weight: 500;
}


.socialLinksDiv{
	height:fit-content;
	width:100%;
}

.subNewsLetterDiv{
	width:100%;
	height:fit-content;
	text-align: center;
  padding: 2vw;
}

.subNewsLetterDiv h1{
  color: orange;
  font-size: 5vw;
}

.subNewsLetterDiv input{
	width:100%;
	height:fit-content;

}

.socialIconsDiv h1{
	font-size:5vw;
	color:orange;
}

.allsocialIconsContainer{
	width:100%;
	height:fit-content;
	display:flex;
	justify-content:center;	
	gap:1.5vw;
}
.mainSocialIconBurgerFooter{
	width:10vw;
	height:10vw;
	
}

.loginMainConainer{
	max-height:calc(100vh - 7vw);
	margin-top:7vw;
}

.lgpageImgDiv{
	display:none;
}


.lgImgDivRight{
	height:100%;
	width:100%;
  margin-top: 5vw;
	/* border: 1px solid rgb(10, 9, 9); */
}

.OuterCardDiv{
	width:100%;
	height:fit-content;
  gap: 3px;
  padding: 5vw;
}

.OuterCardDiv h1{
	font-size:6.5vw;
	color:rgb(23,144,241);
}

.loginWithThirdPartyDiv{
	width:100%;
	height:fit-content;
}

.logInTextDiv, .loginIconDiv{
	width:100%;
	height:10vw;
}

.logInTextDiv a{
	font-size:5vw;
  white-space: nowrap;
  font-weight: 500;
}


.loginIconDiv{
	width:20%;
}

.loginIconDiv i{
	font-size:4vw;
  color: rgb(23,141,241);
}



.IdPassLoginDiv{
	gap:1vw;	
}

.IdPassLoginDiv h2{
   font-size:4vw;
   color:rgb(23,141,241);
}
.passwordInput{
  height:10vw;
}

.passwordInput input{
	width:100%;
  height: 100%;
}


.eyeIconDiv{
	width:10vw;
	height:100%;
}

.eyeIconDiv i{
	font-size:4vw;
}


.Consent_ForgotPasswordDiv label{
	font-size:2.5vw;
}


.captureDiv{
	height:10vw;
	width:45%;
	letter-spacing:0.5vw;
	padding:0;
}
.captureCodeDiv input{
	float:right;
	margin-left:2vw;
}



.captureCover{
	width:100%;
	height:100%;
  padding: 1vw;
}

.refreshDiv{

	height:8vw;
}


.bank_mitra_guideline_container{
  margin-top: 18vw;
}

.bank_mitra_guideline_container h1{
  font-size: 5vw;
  position: sticky;
  top: 20vw;
}

.bank_mitra_guideline_container h2{
  margin-top: 1vw;
  font-size: 5vw;
}

.bank_mitra_guideline_container p{
  margin-top: 0;
}

.checkbox_div{
  margin-top: 2vw;
  font-size: 5vw;
  font-weight: 500;
}


.guide_proceed_btn{
  background:rgb(253, 153, 3);
  margin-top: 1.5vw;
  width: 100%;
  font-size:2.5rem;

}


.innerdiv{
  height: 0vw;
  width: 0vw;
  background: rgb(23,141,241);
  position: absolute;
  top: -2vw;
  right: -2vw;
  transition: 1s all;
  border-radius: 50%;
}


.guide_proceed_btn:hover .innerdiv {
   width: 20vw;
   height: 8vw;
   z-index: 2;
}


.guide_proceed_btn p{
  position: relative;
  z-index: 5;
}

.guide_proceed_btn ion-icon{
  z-index: 5;
  --ionicon-stroke-width: 5vw;
  font-size:15vw;
}



/*  bank mitra registration mediaQuery ..................... */

.bank_mitra_register_container h1{
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(23,141,241) , -1px -1px 1px rgb(23,141,241);
}

.messagee{
  width: 100%;
}

.messagee p{
  margin-top:3vw;
}


.fileUploaderBoxOuter{
  width:100%;
}

.fileUploaderBoxInner{
  padding:2vw;
}


.headingDiv h2{
  font-size: 7vw;
  color: rgb(253, 153, 3);
}

.formFiled button{
  font-size: 5vw;
}

.formFiled p{
  margin-top: 3vw;
  font-size: 4vw;
}




/* account open self mediaQuery  */

.accountAlert{
	width: 62vw;
}


.newAcMnCtnr{
  width: 100%;
	margin-top:20vw;
  padding: 0.5vw;
}

.openAccRowInner{
padding: 5vw 0;
}


.openYourAc h1{
	font-size:6.5vw;
   margin: 1.5vw 0;
}


.OpenAccountDiv{
	margin-top:4vw;
}





/*    forgot password setup ......................... */


.forgetPasswordOuter{
	width:100%;
	height:fit-content;
	padding:2vw;
}

.forgetPasswordOuter .alert{
	height: 10vw;
}


.forgetPasswodDetails , .resetpassDiv{
	padding:2vw;
  gap:8vw;
}
.resetpassDiv input{
	margin-top: 2vw;
}
.resetpassDiv button{
	margin-top: 2vw;
}

.form1{
	width:100%;
	height: fit-content;
}
.forgetPasswodDetails h1, .resetpassDiv h1{
	font-size:7vw;
}

.forgetPasswodDetails input{
	height:10vw;
}

.verifyotpdiv{
	gap:2vw;
  flex-direction: column;
}


.verifyotpdiv button{
	width:100%;
	height:10vw;
}

.lgImgDivRight{
  justify-content: start;
  padding-top: 15vw
}




};
