<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
       th:replace="navbar::Layout(~{::section})">
<head>
	<meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title th:text="${title}"></title>
</head>
<body>

    <section>
           <div class="container-fluid loginMainConainer">
                      
             <div class="lgpageImgDiv">
                 <div class="mainImgDiv">
                     <img src="/image/loginImage-removebg-preview (1).png" alt="" />
                 </div>
             </div>
             <div class="lgImgDivRight">

              <div class="alert alert-success alertdiv"  role="alert">
                <p>OTP has been sent successfully !! Please check your email...</p>
              </div>

              <div  th:if="${session.messagee}" class="alert  messagee" th:classappend="${session.messagee.type}"  role="alert">
                <h3 th:text="${session.messagee.message}"></h3>
                <th:block th:remove="all"></th:block>
              </div>
             
                <div class="forgetPasswordOuter">
                
                   <div class="forgetPasswodDetails">
                         <h1>Enter your detail here</h1>
                         <form action="" th:action="@{/home/forgetPasswordPage/getOtp}" method="post">
                          <div class="form1">
                          <input name="userId" type="text" class="form-control" th:value="${userid}" placeholder="Enter customer id" required />
                          <button id="getotp" onclick="hideAlert()" type="submit" class="btn btn-success btn-block">Get otp</button>
                        </div>
                        </form>
                         <div class="otpInputDiv">
                          <form action="" th:action="@{/home/forgetPasswordPage/verify_otp}" method="post">
                                <div class="verifyotpdiv">
                                  <input name="newOtp" type="text" th:value="${OTP}" placeholder="Enter otp" class="form-control" />                                 
                                  <button onclick="verify()" class="btn btn-success " type="submit" >Verify otp</button>
                                </div>
                              </form>
                            <form action="" th:action="@{/home/forgetPasswordPage/resetpass}">
                                <button class="btn btn-success btn-block mt-5" type="submit">Proceed Now </button>
                           </form> 
                         </div>
                     </div>          
                </div>
              </div>
           </div>
    </section>	
</body>
</html>